# NPM Configuration
# 
# @see https://docs.npmjs.com/cli/v10/configuring-npm/npmrc

# Public access for scoped packages
access=public

# Use workspaces
workspaces-update=true

# Save exact versions
save-exact=true

# Always use package-lock
package-lock=true

